body {
  background-color: #172a33;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(340deg);
  }
  50% {
    transform: rotate(380deg);
  }
  100% {
    transform: rotate(340deg);
  }
}

h2 {
  color: #0aa879;
}

.center {
  text-align: center;
}

.title-container {
  display: grid;
  margin-top: 20px;
  align-items: center;
  grid-template-columns: [first] 25% [line2] 50% [last] 25%;
  font-size: calc(12px + 2vmin);
}

.error-message {
  align-items: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 600;
  margin: 20px auto 0 auto;
  padding: 10px;
  max-width: 600px;
  background-color: #871528;
}

.location-card {
  margin: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: calc(12px + 2vmin);
  cursor: pointer;
}

.reset-button {
  border: none;
  color: #ffffff;
  margin: 5px;
  font-weight: 600;
  background-color: inherit;
  font-size: calc(12px + 2vmin);
  height: calc(20px + 2vmin);
}

.search-input {
  text-align: center;
}

.weather-card {
  margin: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
}

.weather-data {
  align-items: center;
  display: grid;
  grid-template-columns: [first] 25% [line2] 25% [line3] 25% [last] 25%;
  font-weight: 600;
}

.weather-data:nth-child(2) {
  padding-bottom: 10px;
}

.weather-footer {
  background-color: #172a33;
  border-radius: 4px;
  color: #ffffff;
  font-size: calc(10px + 2vmin);
  margin: 5px;
  padding: 5px;
  max-width: 400px;
  text-align: center;
}

.weather-header {
  background-color: #0aa879;
  padding: 10px;
  font-weight: 600;
  font-size: calc(12px + 2vmin);
  text-decoration: underline;
}

.weather-row-content:nth-child(1) {
  background-color: #009d7f;
}
.weather-row-content:nth-child(2) {
  background-color: #009182;
}
.weather-row-content:nth-child(3) {
  background-color: #008583;
}
.weather-row-content:nth-child(4) {
  background-color: #007880;
}
.weather-row-content:nth-child(5) {
  background-color: #006c7a;
}
.weather-row-content:nth-child(6) {
  background-color: #0a6071;
}
.weather-row-content:nth-child(7) {
  background-color: #205465;
}
.weather-row-content:nth-child(8) {
  background-color: #2a4858;
}

.weather-row-content:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.weather-row-content:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-body {
  color: white;
  font-size: calc(12px + 2vmin);
  padding: 0 calc(12px + 2vmin);
  text-align: center;
}

#location-search {
  margin-top: 10px;
}

input {
  width: 100%;
  max-width: 600px;
  font-size: calc(12px + 2vmin);
  border-radius: 4px;
}
